* {
    padding: 0px;
    margin: 0px;
}

.REMOVEGUARDS_MAIN_CONTAINER {
    display: flex;

}

.REMOVEGUARDS_MAIN_CONTAINER2 {
    display: flex;
    flex-direction: column;
    width: 82.2%;
}

.REMOVEGUARDS_TOGGLE_BTN {

    display: flex;
    justify-content: center;
}




.REMOVEGUARDS_INPUT_FORM{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.REMOVEGUARDS_ID_NUMBER{
    width: 40%;
}

.REMOVEGUARDS_INPUT_CONTAINER {
    display: flex;
    justify-content: center;
}


.REMOVEGUARDS_ID_NUMBER_TITLE {
    font-size: 1rem;
    margin: 2% 0%;
}

.REMOVEGUARDS_NAME_TITLE {
    font-size: 1rem;
    margin: 2% 0%;
}

.REMOVEGUARDS_WEAPON_NUMBER_TITLE {
    font-size: 1rem;
    margin: 2% 0%;
}

.REMOVEGUARDS_WEAPON_NUMBER_INPUT {

    font-family: 'Poppins', sans-serif;
    background-color: #F3F2F2;
    border: 2px solid #F3F2F2;
    font-size: 1rem;
    padding: 0.5% 1%;
    width: 40%;



}

.REMOVEGUARDS_NAME_INPUT {

    font-family: 'Poppins', sans-serif;
    background-color: #F3F2F2;
    border: 2px solid #F3F2F2;
    font-size: 1rem;
    padding: 0.5% 1%;
    width: 40%;



}

.REMOVEGUARDS_ID_NUMBER_INPUT {

    font-family: 'Poppins', sans-serif;
    background-color: #F3F2F2;
    border: 2px solid #F3F2F2;
    font-size: 1rem;
    padding: 0.5% 1%;
    width: 40%;



}





.REMOVEGUARDS_BUTTON {
    display: flex;
    justify-content: flex-end;
}

.REMOVEGUARDS_SAVE_BTN {
    background-color: #62a4f9;
    padding: 8px 32px;
    border-radius: 23px;
    border: #62A4F9;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin-right: 4%;
    margin-top: 3%;

}











.REMOVEGUARDS_toggle-button-group {
    display: flex;
    border: 1px solid black;
    /* border-radius: 20%; */
    margin: 5%;
    padding-bottom: 1%;
    padding-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5%;
}

.toggle-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    flex: 1;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
    background-color: white;
    padding-bottom: 0px;
}



.toggle-button.selected {
    border-bottom: 2px solid #62A4F9;
    /* Change the color for the selected state */
}