body {
    margin: 0;
    font-family: "poppins";
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: white;
    position: fixed;
    border-right: 1px solid grey;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
  
    text-decoration: none;
  }
  
  .icon{
  vertical-align: middle;
    margin-right:20px ;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }