* {
    margin: 0px;
    padding: 0px;
}

.LOGIN_container {
    display: flex;
    flex-direction: row;
}

.LOGIN_left_container {
    display: flex;
    flex-direction: column;
    background-color: #62A4F9;
    height: 100vh;
    width: 70vh;


}

#LOGIN_logo {
    width: 14%;
    margin: 6%;
}

.LOGIN_left_center_container {
    display: flex;
    flex-direction: column;
    padding: 10%;

}

#LOGIN_left_h1 {

    color: white;
    font-family: 'Odor Mean Chey', serif;
    font-size: 2rem;
    letter-spacing: 7px;
    margin: 1px auto;
    text-align: center;
}

#LOGIN_left_h2 {

    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 7px;
    margin: 12% auto;
    text-align: center;

}

#LOGIN_admin_button {
    padding: 2% 10%;
    border-radius: 29px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5%;
    background-color: #62a4f9;
    border: 1px solid white;
}

#LOGIN_super_button {
    padding: 3% 10%;
    border-radius: 29px;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5%;
    background-color: #62a4f9;
    border: 1px solid white;
}

.LOGIN_right_container {
    display: flex;
    flex-direction: column;
    margin: 3% 8%;
    margin-top: 12%;
    width: 50%;

}

#LOGIN_right_h1 {
    color: black;
    font-family: 'Poly', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 7px;
    margin: 1px auto;
    margin-bottom: 6%;
    text-align: center;

}

#LOGIN_name_text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;

}


#LOGIN_name_input {
    padding: 2% 0%;
    /* padding-right: 28%; */
    font-family: 'Poppins', sans-serif;
    background-color: #F3F2F2;
    border-radius: 10%;
    border: 2px solid #F3F2F2;
    width: 100%;
    margin: 3% 0%;
    font-size: 1rem;
    padding-left: 3%;

}


#LOGIN_password_text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;


}

#LOGIN_password_input {
    padding: 2% 0%;
    /* padding-right: 28%; */
    font-family: 'Poppins', sans-serif;
    background-color: #F3F2F2;
    border-radius: 10%;
    border: 2px solid #F3F2F2;
    width: 100%;
    margin: 3% 0%;
    font-size: 1rem;
    padding-left: 3%;

}

#LOGIN_forgot_text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
}

#LOGIN_login_button {
    background-color: #62a4f9;
    padding: 8px 32px;
    border-radius: 23px;
    border: #62A4F9;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin: 1px 32px;
}

.LOGIN_forgot_passowrd {
    display: flex;
    justify-content: flex-end;
}

#LOGIN_login_button {
    margin: 1% auto;
    margin-top: 5%;
    text-align: center;
}


@media only screen and (max-width: 1024px) {

    #LOGIN_admin_button {
        font-size: 0.8rem;

    }

    #LOGIN_super_button {
        font-size: 1rem;

    }
}






@media only screen and (max-width: 700px) {



    .LOGIN_left_container {
        display: none;
    }

    .LOGIN_right_container {
        display: flex;
        flex-direction: column;
        margin: 30% auto;
        width: 70%;
    }

    #LOGIN_right_h1 {
        color: black;
        font-family: 'Poly', serif;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        letter-spacing: 7px;
        /* margin: 1px auto; */
        margin-bottom: 15%;
        text-align: center;
    }

    .LOGIN_button_box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #LOGIN_admin_button {
        font-size: 0.7rem;
        margin-bottom: 12%;

    }

    #LOGIN_super_button {
        font-size: 0.8rem;
        padding: 2% 10%;
        margin-bottom: 12%;


    }

    #LOGIN_login_button {
        margin: 1% auto;
        margin-top: 12%;
        text-align: center;
        margin-bottom: 12%;

    }

}





@media only screen and (max-width: 400px) {

    .LOGIN_right_container {
        display: flex;
        flex-direction: column;
        margin: 3% auto;
        margin-top: 12%;
        width: 70%;
    }

    #LOGIN_right_h1 {

        font-size: 1.5rem;
        margin-bottom: 15%;

    }

    #LOGIN_admin_button {
        font-size: 0.6rem;
        padding: 2% 3%;
        margin-bottom: 12%;


    }

    #LOGIN_super_button {
        font-size: 0.6rem;
        padding: 2% 3%;
        margin-bottom: 12%;


    }

    #LOGIN_login_button {
        margin: 1% auto;
        margin-top: 12%;
        text-align: center;
        padding: 2% 5%;
    }
}