*{
    margin: 0px;
    padding: 0px;
}

/* ---------------------------------------------------- */

.SUPERVISOR_CENTER_CONTAINER{
    display: flex;
}


/* ---------------------------------------------------- */

.SUPERVISOR_CENTER_RIGHT_CONTAINER{
   display: flex;
   flex-direction: column;
   width: 82.2%;

}


/* ---------------------------------------------------- */



.SIDEBAR_Coloumn_Container{
    display: flex;
    flex-direction: column;
    width: 17.8%;
    border-right: 1px solid black;
    height: 100vh;
    padding-top: 3%;
    /* background-color: blue; */
}



.SIDEBAR_Coloumn_Container img{
    margin: 5%;
    height: 50%;
}

.SIDEBAR_Coloumn_Container h5{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 105%;
}

.SIDEBAR_Dashboard{
    display: flex;
    border-bottom: 1px solid black;
    margin-right: 4% ;
    align-items: center;

}

.SIDEBAR_Dashboard:hover{
    cursor: pointer;
}
.SIDEBAR_Edit:hover{
    cursor: pointer;
}
.SIDEBAR_Update:hover{
    cursor: pointer;
}
.SIDEBAR_Payroll:hover{
    cursor: pointer;
}

.SIDEBAR_Edit{
    display: flex;
    border-bottom: 1px solid black;
    margin-right: 4% ;
    align-items: center;



}

.SIDEBAR_Update{
    display: flex;
    border-bottom: 1px solid black;
    margin-right: 4% ;
    align-items: center;



}

.SIDEBAR_Payroll{
    display: flex;
    border-bottom: 1px solid black;
    margin-right: 4% ;
    align-items: center;



}



/* ---------------------------------------------------- */



.REMOVEGUARDS_TOGGLE_BTN {
    display: flex;
    justify-content: center;
}






.REMOVEGUARDS_toggle-button-group {
    display: flex;
    border: 1px solid black;
    /* border-radius: 20%; */
    margin: 5%;
    padding-bottom: 1%;
    padding-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5%;
}

.toggle-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    flex: 1;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
    background-color: white;
    padding-bottom: 0px;
}



.toggle-button.selected {
    border-bottom: 2px solid #62A4F9;
    /* Change the color for the selected state */
}